

body {
	margin: 0px;
	padding: 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	text-align: center;
	color: black;
	background-color: #fff;
}


a:link, a:visited {
	color: #c30;
}


/* ---------------------------------------------------- */
/* Major Navigational Containers                        */
/* ---------------------------------------------------- */

#container {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
        margin-top: 50px;
	margin-bottom: 50px;
	width: 740px;
	padding: 0px;
	border: 1px solid black;
}


#header {
	margin: 5px;
	padding: 0px;
	width: 728px;
	
}

#courseheader{

        margin: 5px;
	padding-top: 10px;
	padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
	width: 720px;

}

#content {
	margin: 5px;
	padding-top: 10px;
	padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
	border-right: 1px solid #ccc;
	width: 455px;
	
}

#coursecontent {
	margin: 5px;
	padding-top: 10px;
	padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
	width: 720px;
}

#right {
	float: right;
	margin: 5px;
	padding: 10px;
	width: 206px;
	
}


#footer {
	margin: 5px;
	padding: 10px;
	border-top: 1px solid #ccc;
	height: 25px;
	width: 708px;
}



/* ---------------------------------------------------- */
/* Individual Element Properties                       */
/* ---------------------------------------------------- */

#content h1 {
	font-size:16px;
}

#content h2 {
	font-size:14.5px;
}

#content a:link, #content a:visited {
	text-decoration: none;
}

#coursecontent h1 {
	       font-size:25px;
	       padding-top:25px;
	       padding-bottom:15px;
	       border-top: 1px solid #ccc;
}


h1.vanetimage {

background: top right no-repeat;
	display: block;
	width: 100px;
	height: 150px;

}


h1.calphoto  {
	background: top right no-repeat;
	display: block;
	width: 200px;
	height: 250px;
}



h1.calphoto span {
	display: none;
}

#info {
	margin: 0px;
	padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;	
}

#info li {
	display: inline;
	padding: 0px;
	margin-right: 15px;
      
}

#info a:link, a:visited {
	text-decoration: none;
}

#info em {
	font-style: normal;
	font-weight: bold;	
}

#nav {
	margin: 0px;
	padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	
}

#nav li {
	display: inline;
	padding: 0px;
	margin-right: 15px;
	margin-left: 5px;
      
}

#nav a:link, #nav a:visited{
	text-decoration: none;
	font-size: 14px;
}

#title {
	background: url(../google.jpg) top right no-repeat;
	height: 175px;
	margin-bottom: 20px;
	border: 1px solid white;
}

#title h1 {
        font-size: 40px;
	margin-top: 25px;
}

#title h2 {
	font-size: 16px;
}

#title a:link, #title a:visited {

	text-decoration: none;
}

div.year {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}


div.citation {
	margin: 15px;
	font-size: 12px;
}


div.cite_title {
	font-weight: bold;
	font-size: 14px;
}

div.cite_authors {

}

div.cite_info span.pub {
	font-style: italic;
	
}

div.cite_info span.date {
	
}

div.cite_link {
	font-weight: bold;
}

div.cite_link a:link, div.cite_link a:visited {
	font-weight: normal;
}

#quote{
	margin-top: 75px;
	color: #666;
	font-size: 14px;
	font-style: italic;
	
}

#quote_source {

	text-align: center;
	margin-top: 10px;
	color: black;
	font-size: 14px;
	
}


#howtowin {
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 100px;
	background: url(../HowToWin.gif) top left no-repeat;
	height: 150px;
	
}


#howtowin li {
	list-style: none;
	padding: 0px; 
	margin-left: 10px;
}

#howtobecome {
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 100px;
	background: url(../HowToBecome.gif) top left no-repeat;
	height: 150px;
	
}


#howtobecome li {
	list-style: none;
	padding: 0px;
	margin-left: 10px; 
}


#howtobe {
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 100px;
	background: url(../HowToBe.gif) top left no-repeat;
	height: 150px;
	
}


#howtobe li {
	list-style: none;
	padding: 0px;
	margin-left: 10px; 
}



li.title {
	font-weight: bold;
}


span.bibem {
	font-weight: bold;
	font-size: 12px;
}